<!-- NAVBAR -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
            >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"
                ><img
                    src="libs/assets/images/logo ws low50.jpg"
                    alt="WolfSeekers"
                />Wolf Seekers</a
            >
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <!--<li class="active"><a href="/">Home</a></li>-->
                <li><a href="/">Inicio</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/newpost">Crear Posts</a></li>
                <li><a href="/editposts">Editar Posts</a></li>
                <li><a href="/about">Acerca de nosotros</a></li>
                <li><a href="/contact">Contáctanos</a></li>
                <li>
                    <a href=""><%= user.name %></a>
                </li>
                <li>
                    <a href="/logout" class="text-danger">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</div>