<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head') %>
    <title>About</title>
</head>

<body>
<!-- barra de navegación-->
<body class="home">
    <%- include('components/navbar') %>

	<!-- fin de barra de navegación-->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Acerca de nosotros</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Acerca de nosotros</h1>
				</header>
				<h3>¿Qué es Wolf Seekers?</h3>
				<p><img src="/libs/assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > La aplicación web "Wolf Seeker" es un proyecto innovador que tiene como objetivo facilitar la búsqueda de empleo para los estudiantes de la Universidad Tecnológica de San Juan del Río. Esta plataforma en línea proporcionará a los estudiantes una herramienta eficiente y centralizada para encontrar oportunidades laborales acordes a sus perfiles y habilidades.</p>
				<p>El enfoque de los autores de este proyecto es brindar a los estudiantes una solución integral que les permita acercarse más a su empleo ideal. Reconociendo la importancia de contar con una plataforma intuitiva y fácil de usar, hemos diseñado "Wolf Seeker" para que los estudiantes puedan navegar por ella sin dificultades, visualizar las ofertas de trabajo relevantes y postularse de manera rápida y sencilla.</p>
				<h3>Creación</h3>
				<p>Conscientes de la importancia del tiempo en la búsqueda de empleo, hemos establecido un plazo estimado de 4 meses para la realización de este proyecto. Durante este periodo, nuestro equipo de desarrolladores, encabezado por los autores de este informe, se dedicará a diseñar, programar y probar cada funcionalidad de la aplicación, asegurando su correcto funcionamiento y una experiencia de usuario óptima.</p>
				<h3>Objetivo</h3>
				<p>El objetivo es que "Wolf Seeker" se convierta en una herramienta de referencia para los estudiantes de la Universidad Tecnológica de San Juan del Río, ayudándolos a dar un paso más cerca de su empleo ideal. A través de una combinación de tecnología ágil y enfoque centrado en el usuario, estamos comprometidos en ofrecer una solución efectiva que conecte a los estudiantes con las empresas que buscan talento universitario.</p>
				<h3>Resumen</h3>
				<p>En resumen, "Wolf Seeker" es una aplicación web que busca agilizar y mejorar el proceso de búsqueda de empleo para los estudiantes de la Universidad Tecnológica de San Juan del Río, permitiéndoles acceder a oportunidades laborales relevantes y proporcionando recursos valiosos para su desarrollo profesional.</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Noticias</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
						<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
						<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
						<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
						<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
<!-- pie de pagina -->
<section id="social">
	<div class="container">
		<div class="wrapper clearfix">
			<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_linkedin_counter"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			</div>
		</div>
	</div>
</section>


<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">
				
				<div class="col-md-3 widget">
					<h3 class="widget-title">Contáctanos</h3>
					<div class="widget-body">
						<p>+52 427 122 1773<br>
							<a href="mailto:#">manuelmc.ti20@utsjr.edu.mx</a><br>
							<br>
							Av La Palma No 125 Vista Hermosa, 76800 San Juan del Río, Qro.
						</p>	
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-dribbble fa-2"></i></a>
							<a href=""><i class="fa fa-github fa-2"></i></a>
							<a href=""><i class="fa fa-facebook fa-2"></i></a>
						</p>	
					</div>
				</div>

				<div class="col-md-6 widget">
					<h3 class="widget-title">Descargo de responsabilidad</h3>
					<div class="widget-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
						<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="/">Home</a> | 
							<a href="/about">Acerca de nosotros</a> |
							<a href="/contact">Contáctanos</a> |
							<b><a href="/signin">Iniciar sesión</a></b>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2023, Wolf Seekers Team. Designed by WST.
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>

</footer>	
	

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/libs/assets/js/headroom.min.js"></script>
<script src="/libs/assets/js/jQuery.headroom.min.js"></script>
<script src="/libs/assets/js/template.js"></script>
</body>
</html>